.cart-list {
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 0 0.4rem;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  margin-left: 1rem;
  font-weight: 700;
}

.actions button:hover,
.actions button:active {
  background-color: var(--color-green-700);
  color: white;
}

.actions .button--alt {
  color: var(--color-green);
}

.actions .button {
  background-color: var(--color-green);
  color: white;
}
