.fruits-item {
  font-size: 1rem;
  width: 200px;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 14px;
  background-color: white;
}

.fruits-item:nth-child(4n) {
  margin-right: 0;
}

.fruits-item h4 {
  margin-bottom: 0;
}

.fruits-item p {
  margin-top: 0.3rem;
  word-break: keep-all;
}
