.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 0 1.6rem;
  background-color: var(--color-white);
}

.header .logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header .logo img {
  height: auto;
  display: block;
  width: auto;
  height: 40px;
}

@media screen and (min-width: 720px) {
  .header .logo image {
    height: 60px;
  }
}
