.btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  color: var(--color-gray-300);
  background-color: transparent;
  transition: background-color 300ms ease-in-out;
}

.button:hover,
.button:active {
  color: var(--color-green-700);
  background-color: transparent;
}

.button:first-child::after {
  content: '';
  width: 1px;
  height: 16px;
  background-color: var(--color-border);
  margin-left: 1rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.cart {
  color: var(--color-green);
}

.badge {
  color: var(--color-green);
  padding: 0.25rem 0.4rem;
  border-radius: 25px;
  font-weight: bold;
}

.cart:hover,
.button:hover .badge,
.button:active .badge {
  color: var(--color-green-700);
}

@media screen and (min-width: 720px) {
  .icon {
    width: 1.35rem;
    height: 1.35rem;
  }

  .badge {
    padding: 0.25rem 0.7rem;
  }
}
