.btn-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2.4rem;
}

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  color: var(--color-gray-300);
  background-color: transparent;
  transition: background-color 300ms ease-in-out;
  margin: 0;
  padding: 0.2rem;
}

.button:hover,
.button:active {
  color: var(--color-green-700);
  background-color: transparent;
}

.button:first-child::after {
  content: '';
  width: 1px;
  height: 16px;
  background-color: var(--color-border);
  margin: 0 0.4rem 0 0.8rem;
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
}

.cart {
  color: var(--color-green);
}

.badge {
  color: var(--color-green);
  padding: 0.25rem;
  font-weight: bold;
  min-width: 20px;
  letter-spacing: -0.01em;
}

.cart:hover,
.button:hover .badge,
.button:active .badge {
  color: var(--color-green-700);
}

@media screen and (min-width: 720px) {
  .btn-wrap {
    margin-right: 3rem;
  }

  .icon {
    width: 1.35rem;
    height: 1.35rem;
  }

  .badge {
    padding: 0.25rem;
  }

  .button:first-child::after {
    margin: 0 0.8rem 0 1.2rem;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
