.order-wrap {
  width: 70%;
  margin: 5rem auto 2rem;
}

.order-wrap h1 {
  font-size: 2rem;
}

.total {
  text-align: right;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.order-wrap .cart-list {
  padding-left: 0;
  border-bottom: 1px solid var(--color-border);
}

.order-wrap .cart-list .cart-item {
  padding: 1rem 0;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
}

label {
  margin-bottom: 0.4rem;
}

input {
  width: 240px;
  height: 36px;
  font-size: 1rem;
}

.error-text {
  margin: 0;
  font-size: 0.9rem;
  color: var(--color-red);
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.submit {
  width: 200px;
  background-color: var(--color-green);
  font-weight: 700;
}

button:hover {
  background-color: var(--color-green-700);
}

@media (min-width: 768px) {
  .order-wrap {
    width: 40rem;
    padding: 5rem;
  }

  input {
    font-size: 0.9rem;
  }
}
